.options-list__desktop {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  li {
    margin-right: 30px;
    font-size: 14px;

    a {
      color: #fff;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

@media (max-width: 960px) {
    .options-list__desktop {
        display: none;
    }
}
