.single-jog {
  display: flex;
  align-items: center;
  margin-top: 50px;
  font-size: 14px;

  &__icon {
    margin-right: 46px;
  }

  &__details {
    p {
      color: #747474;
      margin-bottom: 9px;
    }

    h4 {
      margin-bottom: 12px;
    }

    span {
      color: #747474;
      font-weight: normal;
    }
  }
}

@media (max-width: 375px) {
  .single-jog {
    margin: 45px 0;
    align-items: flex-start;
  }
}